<div class="jumbotron" style="background-image: url(<%= image_url('homepage.jpg') %>)">
</div>

<div class="container">
<h1>Welcome to Downdog Yoga</h1>


<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>Time</th>
      <th>Class</th>
      <th>Description</th>
      <th>Instructor</th>
      <th>Sign Up</th>
    </tr>
  </thead>
  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= workout.time.strftime("%I:%M %P") %></td>
        <td><%= workout.name %></td>
        <td><%= workout.description %></td>
        <td><%= workout.instructor.name %></td>
        <td><% if current_user && current_user.workouts.exists?(workout) %>
              <p>&nbsp;&#10004;</p></td>
            <% elsif current_user %>
              <% if workout.time > Time.now %><%= link_to '>', signup_path(workout, current_user), method: :post, class: "btn btn-default btn-sm" %><% end %> </td>
            <% else %>
              <% if workout.time > Time.now %><%= link_to '>', login_path, class: "btn btn-default btn-sm" %><% end %> </td>
            <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
