<div class="container">
<h1>Add Class</h1>
<%= form_for @workout do |f| %>
   <div class="field">
     <%= f.label :name %><br>
     <%= f.text_field :name %><br>
   </div>
   <div class="field">
     <%= f.label :instructor_id %><br>
     <%= f.collection_select(:instructor_id, Instructor.all, :id, :name, prompt: true) %><br>
   </div>
   <div class="field">
     <%= f.label :description %><br>
     <%= f.text_area :description, size: "30x8" %><br>
   </div>
   <div class="field">
     <%= f.label :time %><br>
     <%= f.datetime_local_field :time %><br>
   </div>
   <div class="actions"><%= f.submit %></div>
<% end %>
<br><br>
<div class="row">
  <a href="/main">Return to Main</a>
</div>
</div>
