
<%= form_for @workout do |f| %>
 <div class="field">
     <%= f.label :name %>
     <%= f.text_field :name %>
   </div>
   <div class="field">
     <%= f.label :description %>
     <%= f.text_area :description, size: "30x8" %>
   </div>
   <div class="field">
     <%= f.label :time %>
     <%= f.datetime_local_field :time %>
   </div>
   <div class="actions"><%= f.submit %></div>
<% end %>
