<div class="container">
<h1>Add New Instructor</h1>

<%= form_for @instructor do |f| %>
  <% if @instructor.errors.any? %>
    <div class="error_messages">
      <h2>Error adding the instructor</h2>
      <ul>
        <% for message in @instructor.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
   <% end %>
   <div class="field">
     <%= f.label :name %><br>
     <%= f.text_field :name %><br>
   </div>
   <div class="field">
     <%= f.label :image %><br>
     <%= f.text_field :image %><br>
   </div>
   <div class="field">
     <%= f.label :bio %><br>
     <%= f.text_area :bio, size: "40x10" %><br>
   </div>
   <div class="actions"><%= f.submit %></div>
<% end %>
<br><br>
<div class="row">
  <a href="/main">Return to Main</a>
</div>
</div>
