<div class="container">
<div class="container">
  <div class="text-center">
    <%= image_tag(@instructor.image, width: '500') %>
  </div>
</div>
<div class="row text-center">
  <h3 width="col-md-6"><%= @instructor.bio %></h3>
</div>
<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>Time</th>
      <th>Class</th>
      <th>Sign Up</th>
    </tr>
  </thead>
  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= workout.time.strftime("%I:%M %P") %></td>
        <td><%= workout.name %></td>
        <td><td><% if current_user %>
              <% if workout.time > Time.now %><%= link_to '>', signup_path(workout, current_user), method: :post, class: "btn btn-default btn-sm" %><% end %> </td>
            <% else %>
              <% if workout.time > Time.now %><%= link_to '>', login_path, class: "btn btn-default btn-sm" %><% end %> </td>
            <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="row">
  <div class="text-center">
    <%= link_to "Return to Instructors", instructors_path %>
  </div>
</div>
</div>
