<div class="container">
<h1>Sign Up</h1>

<%= form_for @client do |f| %>
  <% if @client.errors.any? %>
    <div class="error_messages">
      <h2>Sign Up Error</h2>
      <ul>
        <% for message in @client.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
   <% end %>
   <div class="field">
     <%= f.label :first_name %>
     <%= f.text_field :first_name %>
   </div>
   <div class="field">
     <%= f.label :last_name %>
     <%= f.text_field :last_name %>
   </div>
   <div class="field">
     <%= f.label :email %>
     <%= f.text_field :email %>
   </div>
   <div class="field">
     <%= f.label :mobile_number %>
     <%= f.text_field :mobile_number %>
   </div>
   <div class="field">
     <%= f.label :password %>
     <%= f.password_field :password %>
   </div>
   <div class="field">
     <%= f.label :password_confirmation %>
     <%= f.password_field :password_confirmation %>
   </div>
   <div class="actions"><%= f.submit %></div>
<% end %>
</div>
