<!DOCTYPE html>
<html>
  <head>
    <title>DowndogManagement</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div>
    <% if current_client %>
      Welcome, <%= current_client.first_name %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to "Log Out", session_path('nil'), method: :delete %>
    <% else %>
      <%= link_to "Log In", login_path %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to "Sign Up", new_client_path %>
    <% end %>
  </div>
    <%= yield %>
  </body>
</html>
